*[^.]*
!*/
!*.* 
*.root
*.pdf
*.csv
ML_OUT
*/*.root
*/*.pdf
*/*.csv
test
log/
draw*.cpp
Draw*.cpp
run.sh
hadd_CMSMC.sh
hadd.txt
GHSAlgo
IFNPlugin
boost_1_85_0
fastjet-3.4.2
fjcontrib-1.054
boost_1_85_0_rc3.tar.bz2
fastjet-3.4.2.tar.gz
fjcontrib-1.054.tar.gz